<footer class="footer">
  <ul class="footer__containerMenu">
    <li class="footer__containerMenu--list">
      <a href="#" class="footer__containerMenu--link">Link1</a>
    </li>
    <li class="footer__containerMenu--list">
      <a href="#" class="footer__containerMenu--link">Link2</a>
    </li>
    <li class="footer__containerMenu--list">
      <a href="#" class="footer__containerMenu--link">Link3</a>
    </li>
    <li class="footer__containerMenu--list">
      <a href="#" class="footer__containerMenu--link">Link4</a>
    </li>
  </ul>
  <ul class="footer__containerSocial">
    <li class="footer__containerSocial--social">
      <a href="#" class="footer__containerSocial--link">FB</a>
    </li>
    <li class="footer__containerSocial--social">
      <a href="#" class="footer__containerSocial--link">TW</a>
    </li>
    <li class="footer__containerSocial--social">
      <a href="#" class="footer__containerSocial--link">G+</a>
    </li>
  </ul>
</footer>
