<header class="header">
  <div class="header__container">
    <div class="header__containerImg">
      <img
        class="header__containerImg--img"
        src="./assets/images/logo.png"
        alt="logo"
        title="logo"
      />
    </div>
    <h1 class="header__title">LayoutDeEjemplo</h1>
  </div>
  <ul class="header__containerMenu">
    <li class="header__link">Link1</li>
    <li class="header__link">Link2</li>
    <li class="header__link">Link3</li>
    <li class="header__link">Link4</li>
  </ul>
</header>
