<header class="header">
  <div class="header__container">
    <div class="header__containerImg">
      <img
        class="header__containerImg--img"
        src="./assets/images/logo.png"
        alt="logo"
        title="logo"
      />
    </div>
    <h1 class="header__title">LayoutDeEjemplo</h1>
  </div>
  <ul class="header__containerMenu">
    <li class="header__containerMenu--list">
      <a href="#" class="header__containerMenu--link">Link1</a>
    </li>
    <li class="header__containerMenu--list">
      <a href="#" class="header__containerMenu--link">Link2</a>
    </li>
    <li class="header__containerMenu--list">
      <a href="#" class="header__containerMenu--link">Link3</a>
    </li>
    <li class="header__containerMenu--list">
      <a href="#" class="header__containerMenu--link">Link4</a>
    </li>
  </ul>
</header>
