<ul class="header__containerMenu">
  <li class="header__containerMenu--list">
    <a href="#" class="header__containerMenu--link">Link1</a>
  </li>
  <li class="header__containerMenu--list">
    <a href="#" class="header__containerMenu--link">Link2</a>
  </li>
  <li class="header__containerMenu--list">
    <a href="#" class="header__containerMenu--link">Link3</a>
  </li>
  <li class="header__containerMenu--list">
    <a href="#" class="header__containerMenu--link">Link4</a>
  </li>
</ul>
