<main class="main">
  <section class="main__sections">
    <article class="main__section">
      <h2 class="main__section--title">Lorem ipsum dolor sit amet</h2>
      <p class="main__section--paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quia tempore error vero
        possimus veniam perspiciatis, fuga aliquid optio velit ab eum sapiente deserunt vitae dicta
        dignissimos suscipit reprehenderit incidunt?
      </p>
    </article>
    <article class="main__section main__section--center">
      <h2 class="main__section--title">Lorem ipsum dolor sit amet</h2>
      <p class="main__section--paragraph main__section--paragraphCenter">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quia tempore error vero
        possimus veniam perspiciatis, fuga aliquid optio velit ab eum sapiente deserunt vitae dicta
        dignissimos suscipit reprehenderit incidunt?
      </p>
    </article>
    <article class="main__section">
      <h2 class="main__section--title">Lorem ipsum dolor sit amet</h2>
      <p class="main__section--paragraph">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quia tempore error vero
        possimus veniam perspiciatis, fuga aliquid optio velit ab eum sapiente deserunt vitae dicta
        dignissimos suscipit reprehenderit incidunt?
      </p>
    </article>
  </section>
  <aside class="main__aside">
    <section class="main__aside--block"></section>
    <section class="main__aside--block"></section>
  </aside>
</main>
