// fonts
$font-main: "arial, helvetica";

// colors
$color-main: white;
$color-primary: orange;
$color-secondary: red;
$color-tertiary: green;
$color-quaternaryHover: #ff5232;
$color-socialMedia: #804000;
