.footer {
  position: relative;
  bottom: 0;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  @media all and(min-width:1024px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 80px;
  }

  &__containerMenu {
    list-style: none;
    background: $color-secondary;
    max-width: 1000px;
    text-align: center;

    &--list {
      display: inline-block;
    }
    &--link {
      text-decoration: none;
      color: $color-main;
      padding: 10px 20px;
      display: block;
      &:hover {
        background-color: $color-quaternaryHover;
      }
      @media all and(min-width:1024px) {
        display: inline-block;
      }
    }
  }
  &__containerSocial {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    padding: 13px;
    background-color: $color-socialMedia;
    @media all and(min-width:1024px) {
      width: 128px;
    }
    &--link {
      color: $color-main;
      text-decoration: none;
    }
  }
}
