.header {
  background-color: $color-primary;
  @media all and(min-width:1024px) {
    display: flex;
    justify-content: space-around;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
  }
  &__containerImg {
    margin-right: 10px;
  }
  &__containerMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: $color-secondary;
    @media all and(min-width:1024px) {
      margin: 35px;
      width: 400px;
    }

    &--list {
      padding: 12px 50px;
      @media all and(min-width:1024px) {
        padding: 12.5px 30px;
      }
      &:hover {
        background-color: $color-quaternaryHover;
      }
    }
    &--link {
      color: $color-main;
      text-decoration: none;
    }
  }
}
