.header {
  background-color: $color-primary;
  @media all and(min-width:1024px) {
    display: flex;
    justify-content: space-around;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  &__containerImg {
    margin-right: 10px;
  }
  &__containerMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 25px;
    background-color: $color-secondary;
    @media all and(min-width:1024px) {
      padding: 10px 25px;
    }
    &--list:hover {
      background-color: $color-quaternaryHover;
      cursor: pointer;
    }
    &--link {
      color: $color-main;
      text-decoration: none;
    }
  }
}
