.main {
  height: 100vh;

  padding: 0 0;
  background-color: $color-main;
  @media all and(min-width:500px) {
    padding: 0 70px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    width: 100%;
    background-color: $color-main;
  }
  @media all and(min-width:500px) {
    padding: 0px 40px;
  }
  &__section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    &--center {
      border-top: 2px black solid;
      border-bottom: 2px black solid;
    }
    &--title {
      padding-bottom: 8px;
    }
    &--paragraphCenter {
      margin: 0 30px 10px 30px;
      padding-left: 20px;
      border-left: solid 4px grey;
      line-height: 20px;
    }
  }
  &__aside {
    @media all and(min-width:500px) {
      background-color: $color-tertiary;
      width: 30%;
      &--block {
        background-color: $color-primary;
        height: 140px;
        padding: 15px;
        margin: 20px 30px;
      }
    }
  }
}
